package main

import (
	"context"

	"github.com/benthosdev/benthos/v4/public/service"

	// Import pure and standard io Benthos components
	_ "github.com/benthosdev/benthos/v4/public/components/io"
	_ "github.com/benthosdev/benthos/v4/public/components/pure"

	// Customised imports{{range $i, $import := .Imports}}
	_ "{{$import.Package}}"{{end}}
)

func main() {
	service.RunCLI(context.Background())
}
